* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container {
    margin: auto;
    width: 500px;
}

div.scheda {
    padding: 50px;
    text-align: center;
    background-color: pink;
    font-family: sans-serif;
    margin-top: 200px;
}
